html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
img {
    width: 5%;
    float: left
}
.instagram {
   width: auto;
   height: 27px;
   float: right;
   margin-right: 1%;
}
.twitter {
    float: right;
    height: 30px;
    width: auto;
}
.d1 {
    font-size: x-large;
    margin-left: 42%;
    margin-top: 1%;
}
hr {
    width: 80%;
    margin-left: 10%;
}
a {
    color: black;
    text-decoration: none;
}
.d2 {
    margin-left: 35%;
    margin-top: 1%;
}
select {
    font-size: large;
    border: 0ch;
}
.img1 {
    height: 300px;
    width: auto;
    margin-left: 2.5%;
}
.img2 {
    height: 300px;
    width: auto;
    margin-left : 3.5%;
    margin-right: 3.5%;
}
header {
    margin-left: 150px;
    font-size: 50px;
    font-family:'Montserat','Nanum Gothic','Bitter' ;
}
p {
    font-size: x-large;
    font-family:'Montserat','Nanum Gothic','Bitter';
}
.d3 {
    border: 8px;
    border-style: solid;
    border-color: #c4d9b3;
    margin-left : 2.5%;
    width: 42%;
    height: 400px;
}
.h1 {
    font-size: xx-large;
    font-family: 'Montserat','Nanum Gothic','Bitter';
    margin-left: 35%;
}
.d4 {
    width: 100%;
    height: 50px;
    background-color: #c4d9b3;
}
.d5 {
    background-image: url("#");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.img3 {
    float: right;
    width: 49%;
    height: auto;
    margin-right: 2%;
}
.img4 {
    float: right;
    height: 150px;
    width: auto;
    margin-right: 2%;
} 
.img5 {
    float: right;
    height: 150px;
    width: auto;
    margin-right: 2%;

}
.d6 {
    width: 45%;
    float: right;
    margin-top: 10px;
}
.img6 {
    float:left;


}
